h1 {
    font-family: 'Open Sans', sans-serif, Courier, Arial;
    color: #9446fb;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: #f1f1f1;

}

.outer {
    position: relative;
    text-align: center;
}

.outer div {
    background-color:white;
    display: inline-block;
    vertical-align: top;
    
}

#input {
    position: relative;
}

#input form[name="checkListForm"] input[name="checkListItem"] {
    width: 400px;
   
}
    
#button {
    
    border-radius: 0px;
    background-color: #3d1256;
    color: white;
    font-family: 'Open Sans', sans-serif, Courier, Arial;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    max-width: 50px;
    position: absolute;
    margin-top: 5px;
    margin-left: 160px;
    cursor: pointer;
}

.list {
    text-align: center;
    margin-top: 50px;
}

.list .item {
    width: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
}


