h1 {
    font-family: 'Open Sans', sans-serif, Courier, Arial;
    color: #9446fb;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: #f1f1f1;
    position: relative;
}

.outer {
    position: relative;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
   /* border: 1px, solid, #888888;*/
    height: 280px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
} 

form {
    display: inline-block;
}

input {
    position: absolute;
    margin-top: -14px;
    width: 395px;
}
    
#button {
    display: inline-block;
    border-radius: 0px;
    background-color: #3d1256;
    color: white;
    font-family: 'Open Sans', sans-serif, Courier, Arial;
    font-size: 22px;
    text-align: center;
    padding: 5px;
    position: relative;
    margin-left: 350px;
    margin-top: 2px;
    
}


/*.inner {
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
    height: 275px;
    width: 275px;
    position: absolute;
}
*/
