h1 {
    font-family: 'Open Sans', sans-serif, Courier, Arial;
    color: #9446fb;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    background-color: #f1f1f1;

}

.outer {
    position: relative;
    text-align: center;
}

.outer div {
    background-color:white;
    display: inline-block;
    vertical-align: top;
    
}

/*.outer {
    position: relative; */
    /* bg-c: #ffffff */
/*    background-color: #f1f1f1;
    box-shadow: 10px 10px 5px #888888; */
   /* border: 1px, solid, #888888;*/
/*    height: 280px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
} */

#input {
    max-width: 1200px;
    
   
}
    
#button {
    
    border-radius: 0px;
    background-color: #3d1256;
    color: white;
    font-family: 'Open Sans', sans-serif, Courier, Arial;
    font-size: 18px;
    text-align: center;
    padding: 5px;
    max-width: 50px;
   
}


/*.inner {
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #888888;
    height: 275px;
    width: 275px;
    position: absolute;
}
*/
